@charset "UTF-8";
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #D6D1CA;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
   
}

/* styling the navbar */
#NavBar{
    z-index: 99999;
    margin: 0;
    overflow: hidden;
    height: min(9vh, 50px);
    background-color: rgba(18, 71, 52,0);
    line-height: min(9vh,50px);
    margin-top: 1vh;
    position: fixed;
    top: 0;
    width: 100%;
    transition: margin-top 600ms;
    transition: background-color 400ms linear;
}
@keyframes fadeIn {
    0% {
        opacity: 1; margin-top: 1vh;
    }
    100% {
        opacity: 1; margin-top: 0;
    }
}

#NavBar.solid{
    animation-name: fadeIn;
    animation-duration: 500ms;
    animation-timing-function: ease-in;
    background-color: rgb(18, 71, 52);
    margin-top: 0;
}

.Logo{
    height: 8.9vh;
    max-height: 48px;
    float: left;
    padding-left: 2%;
}
.TabButton{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    background-color: inherit;
    text-decoration: none;
    font-size: min(3.5vh, 25px);
    color: rgb(209, 184, 136);
    margin-left: 2%;
}
.TabButton:hover, .TabButton:active{
    color: rgb(211,211,211);
}
#Name.TabButton{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 5vh;
    font-size: min(4vh, 30px);
    margin-left: 10%;
}
#About_Button.TabButton{
    margin-left: 5%;
}

/* styling the start of page*/
.backgroundIMG{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.1)), url('campus images/cropped_20201211_aerial_campus_sunrise_havener_mcnutt.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.aligner{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
.aligner > img {
    width: 15vh;
    height: 15vh;
    border: 5px solid rgba(255, 255, 255, 1);
    border-radius: 50%;
    object-fit: fill;
}
.aligner > span{
    font-size: 7vh;
    display: block;
}

/* styling the about page */
#About{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5vh;
}
#About > div > img{
    display: block;
    height: 35vh;
    width: 26.95vh;
    margin-left: 9vw;
    border: 1px solid white;
    position: sticky;
}
.About_Info{
    padding-left: 3vw;
    margin: 0;
    font-size: 18px;
}
.About_Info > h1{
    margin: 0;
    font-size: 45px;
    font-weight: bold;
}
#About > div > h2{
    margin: 0;
    font-size: 18px;
}
ul{
    margin: 8px;
}
.About_Links > img{
    height: min(10vw, 50px);
    width: auto;
    float: right;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-top: 1vh;
    border-radius: 50%;
}

/* styling the links */
#Resume{
    text-align: center;
}
.centered_links {
    text-align: center;
    height: 5vh;
}
.centered_links > a {
    color: black;
    background-color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    height: 2vh;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    padding-left: 2.8vh;
    padding-right: 2.8vh;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, .1);
    display: inline-block;
}
.centered_links > a:hover, .centered_links > a:active {
    background-color: rgb(211,211,211)
}

/*styling Education section */
#Education{
    padding-top: 5vh;
    padding-bottom: 5vh;
}
#Education > h1{
    font-weight: bold;
    text-align: center;
    font-size: 1em;
}
#Education > p{
    display: flex;
    justify-content: center;
    gap: 5vw;
}
.block{
    display: inline-block;
    width: fit-content;
    background-color: rgb(178, 180, 178);
    color: black;
    width: max(15vw, 150px);
    height: max(20vw, 200px);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, .1);
    font-size: min(2vw, 20px);
}
.block > a > h1{
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding-left: 1vw;
    margin-bottom: 0;
}
.block > p{
    text-wrap: wrap;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 0;
}
/* styling the Certifications section */
#Certifications > div{
    text-align: center;
    font-size: 18px;
}
#Certifications > p{
    display: flex;
    justify-content: center;
    gap: 5vw;
}
.block > a{
    color: black;
    text-decoration: none;
}
/* styling the work experience section */
#Experience > img{
    height: 18.42vw;
    width: 35vw;
}
/* styling the footer */
#Footer{
    background-color: rgb(11, 43, 30);
    color: rgb(209, 184, 136);
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 15px;
    position: relative;
    bottom: 0;
    line-height: min(5vh, 50px);
    width: 100%;
    height: 100%;
    display: flex;
    min-width: 100%;
}
#Footer > div{
    display: inline-block;
    width: 50%;
    text-decoration: none;
}

.FooterContacts{
    text-align: center;
}
.FooterContacts > p > a{
    color: rgb(209, 184, 136);
    text-decoration: underline;
    text-decoration-color: rgb(114, 191, 68);
}
.FooterContacts > p{
    margin: 0;
    padding: 0;
}

.Footer_Description{
    display: inline-block;
    width: 50%;
    font-size: 15px;
    color: rgb(209, 184, 136);
    text-decoration: none;
}
.Footer_Description > p{
    margin: 0;
    padding: 0;
    padding-left: 5vw;
}
.Footer_Description > p > a{
    color: rgb(209, 184, 136);
    text-decoration: underline;
    text-decoration-color: rgb(114, 191, 68);
}
.lima_text{
    font-size: 15px;
    color: rgb(114, 191, 68);
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    text-wrap: pretty;
}
.FooterLogo{
    display: inline;
    height: min(10vw, 100px);
    width: auto;
    float: left;
    padding-left: 5vw;
    padding-right: 5vw;
}

.Footer_Image_Link > img{
    height: min(10vw, 50px);
    width: auto;
    float: left;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 50%;
}