@charset "UTF-8";
body {
  background-color: #F0EAD6;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
}

img {
  width: fit-content;
  width: 45%;
  height: auto;
}
.tab {
    overflow: hidden;
    border: 2px solid #ccc;
    background-color: #f1f1f1;
    height: 50px;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    height: 50px;
    width: 10%;
    font-size: large;
  }
  
  .tab button:hover {
    background-color: #ddd;
    text-decoration: underline;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
    text-decoration: underline;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
  
  /*style for the close button (X)*/
  .closebutton {
    width: 25px;
    height: 25px;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
  }

  .closebutton:hover, .closebutton:active {
    background-color: red;
    color: white;
  }

  h1 {
    background-color: #f1f1f1;
    line-height: 100px;
  }

a {
    color: rgb(185, 16, 185);
    text-decoration: none;
    font-size: 20px;
}
a:hover, a:active {
    color: blue;
    text-decoration: underline;
}